*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

h1, h2 {
  margin: 0;
}

a {
  text-decoration: none;
}

.not-found {
  text-align: center
}

body {
  background: #fff;
  margin: 0;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #1D5795, #23985C);
  color: #fff;
}


form {
  display: flex;
  padding: 0.9em .95em 1.05em;
}

.form input[type=text] {
  flex-grow: 1;
  padding: .5em .4em;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1.2em;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
  padding: 0.5em 0.6em;
  border-radius: 2px;
  background-color: #23995C;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  vertical-align: middle;
  box-shadow: 0px 1px 2px 0px #d0d0d0;
  margin-left: 1.3em;
}

input:focus, .btn:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn svg {
  fill: #fff;
}


.result, .favourites {
  padding: 0 1.2em .75em;
  font-size: 1.3em;
}

@media only screen and (max-width: 950px) {
  .result, .favourites {
    font-size: 1.1em;
  }
}

.item {
  display: flex;
  margin-bottom: 1.2em;
}

.item-title {
  width: 50%;
  padding: 0 0.7em;
}


.star svg {
  height: .9em;
  width: .9em;
  cursor: pointer;
  fill: #AAAAAA;
}

.star.fav svg {
  fill: #23995C;
}


ul {
  margin: 0;
}

ul li {
  margin-bottom: 0.8em;
}

.favourites {
  margin-top: auto;
  background-color: #F7FEFA;
  padding: 1em;
}

.favourites h2 {
  color: #23995C;
  margin-bottom: 0.7em;
}
