*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: #fff;
  margin-top: 40px;
}

form {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

.not-found {
  text-align: center
}
